.sortList {
  padding: 0;
}

.sortItem {
  display: flex;
  align-items: center;
  font-size: var(--font-size-2);
  color: var(--sort-item-color);
  padding: var(--space-md);
  background-color: var(--color-white);
  transition: background-color .2 linear;

  &:hover {
    background-color: var(--color-brand-dark);
  }

  svg {
    margin-right: var(--space-md);
    color: var(--color-white);
    width: 2rem;
    height: 2rem;
  }
}

.sortItemActive {
  background-color: var(--color-brand);
}