@import '../../../../Scss/variables';
@import '../../../../Scss/mixins';

.topBanner {
  @include flex-align-center;
  justify-content: space-between;
  padding: var(--space-md);

  svg {
    cursor: pointer;
    transition: fill var(--transition);
    width: 2rem;
    height: 2rem;
    fill: var(--color-brand);

    &:hover {
      fill: var(--color-brand-light);
      opacity: .8;
    }
  }

  @include media-breakpoint-down(md) {
    svg {
      width: 1.8rem;
      height: 1.8rem;
    }
  }

  @include media-breakpoint-down(sm) {
    svg {
      width: 1.6rem;
      height: 1.6rem;
    }
  }
}