.topBanner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--todo-content-banner-padding);
  margin-bottom: var(--todo-content-banner-mar-bot);
  background-color: var(--todo-content-banner-bg);

  svg {
    cursor: pointer;
    width: var(--todo-content-banner-sort-icon-size);
    height: var(--todo-content-banner-sort-icon-size);
  }
}

.title {
  text-transform: capitalize;
  font-size: var(--todo-content-banner-title-size);
  color: var(--todo-content-banner-title-color);
}