@import '../../Scss/_mixins';
@import '../../Scss/typography';
@import '../../Scss/variables';

.notifications-wrapper {
  position: fixed;
  bottom: 2%;
  left: 2%;
  width: auto;
  max-width: 31.25rem;
  z-index: 9999;

  @include media-breakpoint-down(md) {
    max-width: 26.25rem;
  }

  @include media-breakpoint-down(vsm) {
    max-width: 20.25rem;
  }

  @include media-breakpoint-down(tiny) {
    max-width: 18.25rem;
  }
}

.notification-item {
  box-shadow: 0 0 10px rgba(0,0,0, 0.3);
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 1.1rem;
  animation: SlideLeft 0.4s;
  animation-fill-mode: forwards;
  width: 100%;
  z-index: 9999;
  background-color: var(--color-white-milk);

  &__content {
    display: flex;
    align-items: center;
    padding: .6rem 3rem .6rem 1rem;

    &--icon {
      font-size: var(--font-size-3);
      margin-right: .8rem;
    }

    &--message {
      margin: 0;
      font-size: var(--font-size-3);
      color: var(--color-black);
    }
  }

  &__success {
    svg {
      color: var(--color-lime);
    }
  }

  &__error {
    svg {
      color: var(--color-red);
    }
  }

  &__error .bar {
    background-color: var(--color-red);
  }

  &__success .bar {
    background-color: var(--color-lime);
  }

  @include media-breakpoint-down(md) {
    &__content {
      padding: .5rem 2rem .5rem .5rem;

      &--icon {
        font-size: var(--font-size-2);
        margin-right: .8rem;
      }
  
      &--message {
        margin: 0;
        font-size: var(--font-size-2);
        color: var(--color-black);
      }
    }
  }

  @include media-breakpoint-down(sm) {
    &__content {
      padding: .4rem 1.3rem .4rem .5rem;

      &--icon {
        font-size: var(--font-size-1);
        margin-right: .8rem;
      }
  
      &--message {
        margin: 0;
        font-size: var(--font-size-1);
        color: var(--color-black);
      }
    }
  }
}

.bar {
  height: 0.65rem;

  @include media-breakpoint-down(sm) {
    height: 0.5rem;
  }

  @include media-breakpoint-down(tiny) {
    height: 0.4rem;
  }
}

.notification-item.exit {
  animation: SlideRight 0.4s;
  animation-fill-mode: forwards;
}

@keyframes SlideLeft {
  0% {
      margin-left: -120%;
  }

  100% {
      margin-left: 0;
  }
}

@keyframes SlideRight {
  0% {
      margin-left: 0;
  }

  100% {
      margin-left: -120%;
  }
}