@import '../../sass/base.scss';

.appLogin {
  width: 100%;
  height: calc(100vh - 64px);
  background-color: var(--color-grey);
  @include flex-center;

  &__content {
    width: 960px;
    height: 638px;
    background-color: var(--color-white);
    border-radius: var(--borderRadius);
    border: thin solid var(--color-grey-2);

    &--slider {
      width: 100%;
      height: 100%;
      padding: 2rem !important;

    }

    &--auth {
      width: 100%;
      height: 100%;
    }
  }
}

.slider-login {
  display: flex;
  flex-direction: column;

  &__desc {
    height: 140px;

    &--title {
      font-weight: 700;
    }

    &--text {
      font-size: 1.3rem;
    }
  }

  &--image {
    width: 500px;
    height: 346px;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}