.emptyList {
  width: 100%;
  height: auto;
  background-color: var(--color-white);
  padding: var(--space-md);
  margin: var(--space-md);
  text-align: center;

  & > * {
    color: var(--color-grey-dark);
  }

  svg {
    width: 1.2rem;
    height: 1.2rem;
  }
  
  h2 {
    font-size: var(--font-size-3);

    span {
      color: var(--color-red);
    }
  }

  p {
    font-size: var(--font-size-3);
  }
}