@import '../../../../Scss/mixins';
@import '../../../../Scss/variables';

.stepItem {
  @include flex-align-center;
  justify-content: space-between;
  padding: .8rem;
  font-size: var(--font-size-3);
  color: var(--color-black-light);
  border-bottom: thin solid var(--color-black-light);

  svg {
    color: var(--color-black);
    font-size: var(--font-size-3);
  }

  @include media-breakpoint-down(lg) {
    padding: .7rem;
    font-size: var(--font-size-2);

    svg {
      font-size: var(--font-size-3);
    }
  }

  @include media-breakpoint-down(sm) {
    padding: .6rem;
    font-size: var(--font-size-1);

    svg {
      font-size: var(--font-size-2);
    }
  }
}