.stepListItem {
  display: flex;
  align-items: center;
  padding: var(--todo-details-list-item-padding);
  font-size: var(--todo-details-list-item-font-size);
  border-bottom: thin solid var(--todo-details-list-item-border-bot);

  p {
    margin-left: var(--todo-details-list-item-title-mar-left);
  }
}

.pinIcon {
  user-select: none;

  svg {
    cursor: default;
  }
}

.deleteIcon {
  margin-left: auto;
  font-size: var(--todo-details-list-item-icon-size);
}