.todoDetails {
  display: flex;
  flex-direction: column;
  height: 100%;
  z-index: 10;
  padding: var(--todo-details-padding);
  width: var(--todo-details-width);
  background-color: var(--todo-details-background-color);
}

.topLine {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.bottomLine {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: auto;
}

.todoData {
  font-size: var(--todo-details-title-size);
}

.todoDetailsDeleteIcon {
  font-size: 1.5rem;
}

.todoTextForm {
  margin: 1rem 0;
}

.stepsForm {
  margin-top: auto;
}

.closeBtn {
  display: inline-block;
  align-self: top;
  
  font-size: var(--todo-details-close-btn-size);

  svg {
    fill: var(--todo-details-close-btn-color);

    &:hover {
      fill: var(--todo-details-close-btn-hover)
    }
  }
}