.todoDetails {
  display: flex;
  flex-direction: column;
  height: 100%;
  z-index: 10;
  padding: var(--todo-details-padding);
  width: var(--todo-details-width);
  background-color: var(--todo-details-background-color);
}