.userProfile {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: var(--user-profile-padding);

  h3 {
    color: var(--user-profile-title-color);
    font-size: var(--user-profile-title-font-size);
  }
}

.userAvatar {
  margin-left: var(--user-profile-avatar-mar-left);
}

.dropdownList {
  padding: var(--user-profile-dropdown-padding);

  li {
    padding: var(--user-profile-dropdown-item-padding);
    font-size: var(--user-profile-dropdown-item-font-size);
    color: var(--user-profile-dropdown-item-color);
    background-color: var(--user-profile-dropdown-item-bg-color);
    
  svg {
    width: var(--user-profile-dropdown-icon-size);
    height: var(--user-profile-dropdown-icon-size);
    margin-right: var(--user-profile-dropdown-items-space);
  }

    a {
      color: var(--user-profile-dropdown-item-color) !important;
    }

    &:hover {
      background-color: var(--user-profile-dropdown-item-hover-bg-color);
    }
  }
}