@import '../../../../Scss/variables';

.dataPicker {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  padding: .8rem;

  h3 {
    font-size: var(--font-size-3);
    color: var(--color-black);
  }

  &:first-child {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

.planned {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: var(--font-size-2);
  color: var(--todo-details-date-picker-time-color);
  transition: background-color var(--transition);

  svg {
    cursor: pointer;
    width: 1.4rem;
    height: 1.4rem;
    fill: var(--todo-details-date-picker-icon-color);

    &:hover {
      fill: var(--color-red);
    }
  }
}

@include media-breakpoint-down(lg) {
  .dataPicker {
    padding: .8rem 0;
  }
}

@include media-breakpoint-down(sm) {
  .dataPicker {
    h3 {
      font-size: var(--font-size-2);
    }
  }

  .planned {
    font-size: var(--font-size-1);
    svg {
      cursor: pointer;
      width: 1.1rem;
      height: 1.1rem;
    }
  }
}