.closeDetailsIcon {
  position: absolute;
  top: .6rem;
  right: .6rem;
  font-size: var(--todo-details-close-btn-size);

  svg {
    cursor: pointer;
    fill: var(--todo-details-close-btn-color);

    &:hover {
      fill: var(--todo-details-close-btn-hover)
    }
  }
}