.closeBtn {
  position: absolute;
  top: .1rem;
  right: .1rem;
  display: inline-block;
  align-self: top;
  
  font-size: var(--todo-details-close-btn-size);

  svg {
    fill: var(--todo-details-close-btn-color);

    &:hover {
      fill: var(--todo-details-close-btn-hover)
    }
  }
}