.todoTextForm {
  cursor: text;
  font-size: var(--todo-details-todo-title-size);
  padding: var(--space-vsm);
  margin-bottom: var(--todo-details-title-margin-bottom);
  background-color: var(--color-white);

  Input {
    font-size: var(--todo-details-todo-title-size);
    padding: 0;
    margin: 0;
    overflow-wrap: anywhere;
  }
}

.todoTitle {
  display: flex;
  align-items: center;

  p {
    margin-left: var(--todo-details-title-margin-left);
    overflow-wrap: anywhere;
  }
}

.toolTipIcon {
  cursor: pointer;

  svg {
    fill: var(--todo-details-title-tooltip-color);
  }
}