@import '../../../Scss/variables';
@import '../../../Scss/mixins';

.loginTabs {
  width: 100%;
}

.tab {
  width: 100%;
  @include flex-center;
  font-size: var(--font-size-4);
  margin-right: var(--space-lg);
}

@include media-breakpoint-down(lg) {
  .tab {
    font-size: var(--font-size-3);
    margin-right: var(--space-md);
  }
}

@include media-breakpoint-down(sm) {
  .tab {
    font-size: var(--font-size-2);
    margin-right: var(--space-md);
  }
}