.todoList {
  padding: var(--todo-content-list-padding);
}

.title {
  text-transform: capitalize;
  font-size: var(--todo-content-list-title-size);
  color: var(--todo-content-list-title-color);
  margin-bottom: var(--todo-content-list-title-gut-bot);
}