.dataPicker {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: auto;
  margin-bottom: 2rem;
  background-color: var(--todo-details-date-background-color);
  padding: var(--todo-details-date-padding);

  svg {
    font-size: var(--todo-details-date-icon-size);
    fill: var(--todo-details-date-icon-color);
  }
}