@import '../../../Scss/variables';

.signUp {
  margin-top: var(--login-page-title-mar-top);
}

.title {
  text-align: center;
  color: var(--color-black);
  font-size: var(--font-size-4);
}

.submitBtn {
  width: 100%;
}

@include media-breakpoint-down(lg) {
  .title {
    font-size: var(--font-size-3);
  }
}

@include media-breakpoint-down(sm) {
  .title {
    font-size: var(--font-size-2);
  }
}