.topProfile {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: .2rem;
  border-radius: 10px;
  border: thin solid var(--color-grey);
  transition: .1s linear;

  &:hover {
    background-color: var(--color-grey);
  }
}

.profileName {
  color: var(--color-brand);
}

.profileImage {
  margin-left: .5rem;
}