@import '../../../../Scss/variables';
@import '../../../../Scss/mixins';

.todoListItem {
  width: 100%;
  @include flex-align-center;
  cursor: pointer;
  padding: var(--space-vsm);
  position: relative;
  margin-bottom: var(--space-sm);
  border: 1px solid var(--color-grey-light);
  border-radius: 8px;
  background-color: var(--color-white);
  transition: background-color .2s ease;

  &:hover {
    background-color: var(--color-white-milk);
  }
}

.todoTitle {
  font-size: var(--font-size-4);
  color: var(--color-black);
}

.active {
  background-color: var(--color-white-milk);
}

.checkbox {
  min-width: 1.5rem;
  cursor: pointer;
  width: 1.6rem;
  height: 1.6rem;
}

.todoContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-left: var(--space-md);
}

.todoInfo {
  display: flex;
}

.todoSteps {
  @include flex-align-center;
  margin: 0 1rem;
  color: var(--color-grey-dark);
  font-size: var(--font-size-2);
}

.todoPlanned {
  @include flex-align-center;
  margin: 0 1rem;
  color: var(--color-brand);
  font-size: var(--font-size-2);

  svg {
    fill: var(--color-brand);
    width: 1rem;
    height: 1rem;
    margin-left: var(--space-tiny);
  }
}

.todoTimestamp {
  display: flex;
  color: var(--color-grey-dark);
  font-size: var(--font-size-2);
}

.iconImportant {
  position: absolute;
  top: 50%;
  right: 1%;
  transform: translate(0, -50%);

  svg {
    width: 1.6rem;
    height: 1.6rem;
    transition: fill var(--todo-item-transition);
    fill: var(--color-grey);

    &:hover {
      fill: var(--color-red);
    }
  }
}

.IconFilled {
  svg {
    fill: var(--color-red);
  }
}

@include media-breakpoint-down(xl) {
  .todoTitle {
    font-size: var(--font-size-3);
  }

  .checkbox {
    width: 1.5rem;
    height: 1.5rem;
  }

  .todoContent {
    margin-left: var(--space-sm);
  }

  .todoInfo {
    font-size: var(--font-size-2);
  }
  
  .todoSteps {
    margin: 0 .7rem;
    font-size: var(--font-size-1);
  }
  
  .todoPlanned {
    margin: 0 .7rem;
    font-size: var(--font-size-1);
  
    svg {
      width: .9rem;
      height: .9rem;
    }
  }

  .todoTimestamp {
    font-size: var(--font-size-1);
  }
}

@include media-breakpoint-down(md) {
  .todoTitle {
    font-size: var(--font-size-2);
  }
}

@include media-breakpoint-down(sm) {
  .todoTitle {
    font-size: var(--font-size-1);
  }

  .checkbox {
    width: 1.3rem;
    height: 1.3rem;
  }

  .todoTimestamp {
    font-size: var(--font-size-0);
  }
  
  .todoSteps {
    margin: 0 .5rem;
    font-size: var(--font-size-0);
  }
  
  .todoPlanned {
    margin: 0 .5rem;
    font-size: var(--font-size-0);
  
    svg {
      width: .75rem;
      height: .75rem;
    }
  }

  .iconImportant {
    svg {
      width: 1.4rem;
      height: 1.4rem;
    }
  }
}

@include media-breakpoint-down(vsm) {
  .todoTitle {
    font-size: var(--font-size-0);
  }
}