.available {
  text-align: center;
  margin: 3rem;
}

.availableTitle {
  margin-bottom: 2rem;
  font-size: 1.7em;
  font-weight: bold;
}

.availableDevice {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: #9197a3;
  font-size: 9px;
  font-weight: 500;
  font-style: normal;
}

  svg {
    fill: #dbdbdb;
    cursor: pointer;
    transition: .1s linear;

    &:hover {
      fill: #0080ff;
    }
  }