.section-hero {
  background-color: var(--color-grey);
  padding-top: 5rem;

  &__desc {
    text-align: left;
    padding-top: var(--clamped-size) !important;
    max-width: 54rem;

    &--title {
      font-size: var(--fs-h1) !important;
      font-weight: 700;
      letter-spacing: -0.6px;
      line-height: 1.03;
    }

    &--text {
      font-size: var(--fs-text) !important;
      font-weight: 400;
      font-size: 2.6em;
      line-height: 1.3;
      margin-bottom: 2rem;
    }
  }
}