.available {
  text-align: center;
  margin: 3rem;

  h2 {
    margin-bottom: 2rem;
    font-size: 1.7em;
    font-weight: bold;
  }

  svg {
  transition: fill var(--transition);
    fill: var(--color-grey-light);

    &:hover {
      cursor: pointer;
      fill: var(--color-grey-dark);
    }
  }
}

.listDevices {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.listItem {
  display: flex;
  flex-direction: column;

  p {
    color: var(--color-grey-dark)
  }
}