.logo {
  display: flex;
  align-items: center;
  color: var(--color-brand);
  font-size: 1.5rem;
  height: 100%;
  cursor: pointer;

  h3 {
    margin-left: .5rem;
    font-weight: 400;
  }
}