@import '../../../Scss/mixins';

.newItem {
  height: 4rem;
}

.addItem {
  width: 100%;
  @include flex-align-center;
  padding: var(--space-sm);
  cursor: pointer;

  svg {
    font-size: var(--font-size-3);
  }

  p {
    font-size: var(--font-size-3);
    margin-left: var(--space-sm);
  }

  &:hover {
    background-color: var(--color-white);
    color: var(--color-lime);

    svg {
     fill: var(--color-lime);
    }
  }
}

.addItemInput {
  padding: var(--space-vsm);

  Input {
    font-size: var(--font-size-3);
  }
}