.newItem {
  height: 4rem;
}

.addItem {
  display: flex;
  align-items: center;
  width: 100%;
  transition: all .2s ease;
  padding: var(--add-new-item-padding);
  cursor: pointer;

  svg {
    font-size: var(--font-size-3);
  }

  p {
    font-size: var(--font-size-3);
    margin-left: var(--space-sm);
  }

  &:hover {
    background-color: var(--color-secondary);
    color: var(--color-secondary);

    svg {
     fill: var(--color-secondary);
    }
  }
}

.addItemInput {
  padding: var(--space-md);

  Input {
    font-size: var(--font-size-3);
  }
}