.todoListItem {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  margin-bottom: var(--todo-item-gutter-down);
  border: var(--todo-item-border-style);
  background-color: var(--todo-item-background);
}

.checkbox {
  position: absolute;
  top: 50%;
  left: var(--todo-item-checkBox-left-position);
  transform: translateY(-50%);
}

.text {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-left: var(--todo-item-text-margin-right);
  padding: var(--todo-item-padding);
  font-size: var(--todo-item-text-size);
  color: var(--todo-item-text-color);
}

.deleteIcon {
  display: block;
  position: absolute;
  top: 50%;
  right: var(--todo-item-icon-right-position);
  transform: translateY(-50%);
  
  svg {
    width: var(--todo-item-icon-size);
    height: var(--todo-item-icon-size);
    fill: var(--todo-item-icon-color);
    transition: fill var(--todo-item-icon-transition);


    &:hover {
      fill: var(--todo-item-icon-color-hover);
    }
  }
}