.todoListItem {
  display: flex;
  align-items: center;
  cursor: pointer;
  // padding: var(--todo-item-padding);
  margin-bottom: var(--todo-item-gutter-down);
  border: var(--todo-item-border-style);
  background-color: var(--todo-item-background);
}

.checkbox {
  margin-right: var(--todo-item-check-button-gutter);
}

.text {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: var(--todo-item-text-size);
  color: var(--todo-item-text-color);
}

.deleteIcon {
  display: inline-block;
  
  svg {
    width: var(--todo-item-icon-size);
    height: var(--todo-item-icon-size);
    fill: var(--todo-item-icon-color);
    transition: fill var(--todo-item-icon-transition);


    &:hover {
      fill: var(--todo-item-icon-color-hover);
    }
  }
}