@import '../../Scss/mixins';
@import '../../Scss/variables';

.header {
  height: var(--header-height);
  @include flex-align-center;
  justify-content: space-between;
  padding: 0 1.5rem;
  background-color: var(--color-brand);

  @include media-breakpoint-down(lg) {
    padding: 0 1.2rem;
  }

  @include media-breakpoint-down(md) {
    padding: 0 1rem;
  }

  @include media-breakpoint-down(sm) {
    padding: 0 .7rem;
  }
}