@import '../../Scss/variables';

.todoPage {
  width: 100%;
  height: calc(100vh - var(--header-height));
  display: flex;
  overflow: hidden;
  background-color: var(--color-white);
}

.todoDrawer {
  min-width: 16rem;
  background-color: var(--color-white-milk);
}

.todoContent {
  flex: content;
  width: 100%;
}

.todoDetails {
  flex: content;
}

@include media-breakpoint-down(lg) {
  .todoDetails {
    width: 0;
    user-select: none;
  }
}

@include media-breakpoint-down(md) {
  .todoDrawer {
    min-width: 3rem;
  }
}