.todoPage {
  display: flex;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-color: #000000;
}

.todoDrawer {
  flex: content;
}

.todoContent {
  flex: auto;
}

.todoDetails {
  flex: content;
}

.background {
width: 100%;
height: auto;
position: absolute;

  img {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    user-select: none;
    z-index: -1;
    object-fit: cover;
  }
}
