@import '../../../Scss/variables';

.todoDrawer {
  height: 100%;
  width: 19rem;
  background-color: var(--color-white-milk);
}

@include media-breakpoint-down(lg) {
  .todoDrawer {
    width: 15rem;
    background-color: var(--color-white-milk);
  }
}

@include media-breakpoint-down(md) {
  .todoDrawer {
    width: 12rem;
    background-color: var(--color-white-milk);
  }
}