.todoDrawer {
  height: 100vh;
  width: 19rem;
  padding: var(--todo-drawer-padding);
  background-color: var(--todo-drawer-background-color);
}

.backLink {
  padding: 1rem var(--todo-drawer-padding-side);
}