@import '../../../Scss/variables';

.bannerName {
  font-size: var(--font-size-6);
  color: var(--color-brand);

  @include media-breakpoint-down(sm) {
    font-size: var(--font-size-5);
  }
}

