@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', BlinkMacSystemFont, 'Segoe UI', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --color-brand: #0DA5F3;
  --color-grey: #f3f3f3;
  --clamped-size: clamp(1rem, -5.7500rem + 18.7500vw, 5rem);

  --fs-h1: 4vw;
  --fs-brand-title: 3vw;
  --fs-text: 2vw;
}

.ml-sm {
  margin-left: 1rem;
}