@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import '~antd/dist/antd.css';

body {
  margin: 0;
  font-family: 'Roboto', BlinkMacSystemFont, 'Segoe UI', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a, a:visited, a:active {
    text-decoration: none;
    display: inline-block;
}

h1, h2, h3, h4 {
  margin: 0;
}

ul, li, p {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

input {
  margin: 0 !important;
}

:root {
  --color-brand: #0DA5F3;
  --color-brand-background: #F3F3F3;
  --color-grey: #dddcdc;
  --color-grey-2: #F6F6F6;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-todo-background: #dddcdc;

  --clamped-size: clamp(1rem, -5.7500rem + 18.7500vw, 5rem);
  --fullHeight: 100vh - 64px;

  --borderRadius: 1rem;

  --fs-h1: 4vw;
  --fs-brand-title: 3vw;
  --fs-text: 2vw;

  /*Measures*/
  --gutter-header: 80px;

  /*To-do Page*/
  --todo-item-background: #ffffff;
  --todo-item-text-color: #000000;
  --todo-item-icon-color: var(--color-grey);
  --todo-item-icon-color-hover: #da0c0c;
  --todo-item-border-style: thin solid var(--color-grey);

  --todo-item-padding: .5rem .5rem;
  --todo-item-gutter-down: .3rem;
  --todo-item-text-size: 1.3rem;
  --todo-item-icon-size: 1.2rem;
  --todo-item-check-button-gutter: .5rem;

  --todo-item-icon-transition: .2s linear;
}

.ml-sm {
  margin-left: 1rem;
}

.container {
  max-width: 1340px;
  margin: 0 auto;
  padding: 0 30px;
}