@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
@import '~antd/dist/antd.css';

body {
  margin: 0;
  font-family: 'Poppins', BlinkMacSystemFont, 'Segoe UI', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a, a:visited, a:active {
    text-decoration: none;
    display: inline-block;
}

h1, h2, h3, h4 {
  padding: 0;
  margin: 0;
}

ul, li, p {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.todoContentList-pagination {
  padding: var(--todo-content-pagination-padding);
  position: absolute;
  bottom: 0;
  left: 0;
}

.todoDetailsStepsList-pagination {
  position: absolute;
  bottom: 0;
  left: 0;
}

.todoDrawerCreateList-pagination {
  position: absolute;
  bottom: -1rem;
  left: 1rem;
}

.ant-tabs-tab {
  margin: 0 !important;
}

:root {
  /* Colors */
  --color-brand: #0078D7;
  --color-brand-light: #3e69e4;
  --color-secondary: #87e8de;
  --color-white-milk: #f4f4f4;
  --color-black: #000000;
  --color-black-light: #262626;
  --color-black-light-2: #595959;
  --color-grey: #bfbfbf;
  --color-grey-light: #c0c0c0fd;
  --color-grey-dark: #838383;
  --color-grey-strong: #383838;
  --color-white: #ffffff;
  --color-white-light: #f1faee;
  --color-white-dark: rgb(252, 244, 237);
  --color-lime: #a0d911;
  --color-gold: rgb(233, 226, 7);
  --color-red: rgb(237, 79, 7);

  /* Spaces */
  --baseline: 24px;
  --space-tiny: calc(var(--baseline)/4);
  --space-vsm: calc(var(--baseline)/3);
  --space-sm: calc(var(--baseline)/2);
  --space-md: var(--baseline);
  --space-lg: calc(var(--baseline)*2);
  --space-xl: calc(var(--baseline)*3);
  --space-xxl: calc(var(--baseline)*4);
  --space-xxxl: calc(var(--baseline)*5);
  --space-huge: calc(var(--baseline)*6);

  /* Sizes */
  --font-size-0: 10px; 
  --font-size-1: 12px; 
  --font-size-2: 14px; 
  --font-size-3: 16px; 
  --font-size-4: 20px; 
  --font-size-5: 24px; 
  --font-size-6: 30px; 
  --font-size-7: 38px; 
  --font-size-8: 46px; 
  --font-size-9: 56px; 
  --font-size-10: 68px;

  /* Line height */
  --line-height-1: 20px;
  --line-height-2: 22px;
  --line-height-3: 24px;
  --line-height-4: 28px;
  --line-height-5: 32px;
  --line-height-6: 38px;
  --line-height-7: 46px;
  --line-height-8: 54px;
  --line-height-9: 64px;
  --line-height-10: 76px;
  
  /* Measures */
  --header-height: 3.125rem;
}

.ml-sm {
  margin-left: 1rem;
}

.container {
  max-width: 1340px;
  margin: 0 auto;
  padding: 0 30px;
}